body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffeb3b; 
}


.navbar {
    padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #f7941d;
        width: 100%;

}


.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-brand {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

.navbar-brand img {
    max-height: 50px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.nav-item {
    display: inline;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
