body {
    background: url('vack.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    margin-top: 100px;
}

.form-group label {
    color: #333;
}

.bg-white {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.text-white {
    color: white !important;
}
